.single-project-wrapper {
  background-image: linear-gradient(
    to bottom right,
    rgba(202, 61, 84, 0.904),
    rgba(141, 24, 43, 0.911),
    rgb(8, 7, 61),
    rgba(23, 82, 100, 0.877),
    rgb(149, 219, 240)
  );
  display: flex;
  flex-direction: column;
  color: white;
  box-shadow: 0 5px 5px 1px black;
  border-radius: 25px;
  padding: 3rem 5rem;
  width: 70%;
  margin-left: 20%;
  min-height: 500px;
  position: absolute;
  top: 10%;
  justify-content: space-around;
  align-items: flex-start;
}
